<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>template page</h1>
  <form method="POST" class="container">
    <div class="container mt-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          
          {% csrf_token %}
          {{ form.TextF }}
          
        <button class="btn btn-outline-primary" type="submit">Basic Button</button>  
        </div>
      </div>
    </div>
  </form>
  <p>lolp</p>
  {% for obj in var %}
    {{ obj.Text }}
  {% endfor %}

</body>
</html>